In [72]:
import warnings
warnings.filterwarnings("ignore")

In [73]:
import numpy as np # linear algebra
import pandas as pd # data processing

In [74]:
traindata = pd.read_csv("train.csv")
traindata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [75]:
testdata = pd.read_csv("test.csv")
testdata.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [76]:
traindata.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [77]:
traindata["Sex"].isnull().sum()

0

In [78]:
traindata["Age"].isnull().sum()

177

In [79]:
traindata["Age"]=traindata["Age"].fillna(value=traindata["Age"].median())

In [80]:
traindata["SibSp"].isnull().sum()

0

In [81]:
traindata["Parch"].isnull().sum()

0

In [82]:
traindata["Pclass"].isnull().sum()

0

In [83]:
traindata["Fare"].isnull().sum()

0

In [84]:
testdata["Sex"].isnull().sum()

0

In [85]:
testdata["Age"].isnull().sum()

86

In [86]:
testdata["Age"]=testdata["Age"].fillna(value=testdata["Age"].median())

In [87]:
testdata["SibSp"].isnull().sum()

0

In [88]:
testdata["Parch"].isnull().sum()

0

In [89]:
testdata["Pclass"].isnull().sum()

0

In [90]:
testdata["Fare"].isnull().sum()

1

In [91]:
testdata["Fare"] = testdata["Fare"].fillna(value=testdata["Fare"].median())

In [92]:
a = traindata[["Pclass", "Sex", "Age", "Fare", "SibSp", "Parch"]]

In [93]:
b = traindata[["Survived"]]

In [94]:
a1 = testdata[["Pclass", "Sex", "Age", "Fare", "SibSp", "Parch"]]

In [95]:
a["Sex"] = np.where(a["Sex"] == "male", 1, 0)

In [96]:
a1["Sex"] = np.where(a1["Sex"] == "male", 1, 0)

In [97]:
from sklearn.linear_model import LogisticRegression

In [98]:
classifier = LogisticRegression()

In [99]:
classifier.fit(a,b)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [59]:
b1 = classifier.predict(a1)

In [100]:
b2 = pd.read_csv("gender_submission.csv")["Survived"]

In [101]:
from sklearn.metrics import accuracy_score

In [103]:
accuracy_score(b1,b2)*100

96.65071770334929

In [104]:
from sklearn.metrics import confusion_matrix

In [105]:
confusion_matrix(b1,b2)

array([[259,   7],
       [  7, 145]], dtype=int64)